#title{
    text-align: center;
    font-family:sans-serif;
}
.body{
    text-align: center;
}
button{
    background-color:rgb(53, 72, 82);
    color:whitesmoke;
    font-size:large;
    height: 30px;
    width: 45px;
    margin: 1.5px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;

}
div{
    height: 35px;
    margin: 1.5px;
}
#display{
    text-align: center;
    height: 50px;
}
#inp{
    height: 30px;
    width: 190px;
}
#num{
    background-color:rgba(37, 61, 73, 0.771) ;
}
